.pgn__card-grid {

  .course-card {
    border-color: var(--pgn-color-primary-border);
    background: var(--pgn-color-primary-light);

    .pgn__card-header-content {
      color: var(--pgn-color-text-primary);
    }

    .pgn__card-footer {
      color: var(--pgn-color-text-primary);
      border-top: 1px solid var(--pgn-color-primary-border);
      background: var(--pgn-color-bg-light-overlay);
    }
  }
}

.pgn__searchfield {

  .pgn__form-control-decorator-group {
    background: var(--pgn-color-primary-light);
    border-radius: 4px;
  }

  &.has-focus {

    .pgn__searchfield-form {

      .pgn__searchfield_wrapper::after {
        display: none;
      }
    }
  }
}


.course-media-wrapper {
  ~ aside {

    .pgn__hstack.pgn__stack-gap--2 {
      color: var(--pgn-color-light-base);
    }
  }
}


div.pgn__data-table-layout-wrapper {

  .pgn__data-table-layout-sidebar {

    .badge-light {
      background: var(--pgn-color-primary-base);
    }
  }

  .pgn__data-table-wrapper {
    border: 1px solid var(--pgn-color-primary-border);

    .pgn__data-table-footer {
      border-top: 1px solid var(--pgn-color-primary-border);
      background: var(--pgn-color-primary-light);
    }
  }
}
